<!-- @format -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
		/>

		<link rel="stylesheet" href="../styles/index.css" />
		<link rel="stylesheet" href="../styles/vintage.css" />
		<link rel="stylesheet" href="../styles/responsiveness.css" />
		<title>Product</title>
	</head>
	<body ng-controller = "productController">
		<div class="search">
			<input type="search" name="" id=""  placeholder="Search" ng-model="query">
		</div>
		<div class="productfilter">
			<p ng-click="viewAllWatches('All')">All</p>
			<p ng-click="filterByCategory('Clocks')" > Clocks</p>
			<p ng-click="filterByClocks('Alarm Clock')" >Alarm Clocks</p>
			<p ng-click="filterByCategory('Casual Watches')">Casual Watches</p>
			<p ng-click="filterByCategory('Chronograph Watches')">Chronograph Watches</p>
			<p ng-click="filterByClocks('Wall Clock')">Wall Clocks</p>
			<p ng-click="filterByCategory('Sports Watches')">Sports Watches</p>
			<p ng-click="filterByCategory('Fashion Watches')">Fashion Watches</p>
			<p ng-click="filterByCategory('GMT Watches')">GMT Watches</p>
			<p ng-click="filterByCategory('Vintage')">Vintage Watches</p>
			<p ng-click="filterByCategory('Luxury')">Luxury Watches</p>
			<p ng-click="filterByCategory('Smart Watches')">Smart Watches</p>
		</div>
		<section class="vintageitems" >
			
			<div class="vintagecont">
				<div class="rolexcont vincont">
					<div class="header">
						<h1 class="rolex">{{name}}</h1>
					</div>

					<div class="rolexcrd" >
						<div class="" ng-repeat="product in products | filter:  query  | filter:productCategory">

							<div class="rolexitem"  ng-click = "showDetailsModal(product)">
								<img src={{product.picture}} alt="" />
								<h3 >{{product.picturename}} </h3>
								<p class="description"
									>{{product.picturedescription}}</p
								>
								<p class="price">{{product.price}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal" id="detmodal" ng-show="showDetails">
				<div class="modalitems">
					<div class="modal-content">
						<div class="modalleft">
							<img src={{picture}} alt="" />
						</div>
						<div class="modalright">
							<span class="material-symbols-outlined close" ng-click="closeDetailsModal()"> close </span>
							<h3 class="productname">{{prdname}}</h3>
							<p class="productdesc"
								>{{desc}}</p
							>
							<p class="technology">Technology: <span>{{technology}}</span></p>
							<p class="brand">Brand:<span>{{brand}}</span></p>
							<p class="technology">Product: <span>{{product}}</span></p>
							<div class="modalprice">
								<p>$<span>{{price}}</span></p>
								<!-- <button>Check Out</button> -->
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>
		
		<script src="../js/product.js"></script>
	</body>
</html>
